@tailwind base;
@tailwind components;
@tailwind utilities;
/*
Note, Example
 */
:root {
    --custom-note-border: transparent;
    --custom-note-text: var(--vp-c-green-1);
    --custom-note-bg: var(--vp-c-green-soft);
}

.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}

.medium-zoom-image--opened {
    z-index: 999999;
}

.vp-doc table {
    margin: 0;
}

.vp-doc th, .vp-doc td {
    border: 0;
    color: var(--vp-c-text-1);
}

.vp-doc tr {
    border: 0 2px solid var(--vp-c-border);
    background-color: var(--vp-c-bg) !important;
}

/*设置标题背景色*/
.el-table th.el-table__cell {
    background-color: var(--vp-c-bg-soft) !important;
}

.vp-doc .el-table {
    margin: 20px 0;
}

/*给表格添加hover效果*/
.vp-doc .bordered-table tr:hover {
    background-color: var(--vp-c-bg-soft) !important;
}

/*设置表格的边框颜色*/
.vp-doc .bordered-table th, .vp-doc .bordered-table td {
    border: 1px solid var(--vp-c-default-3);
}

/*交错颜色*/
.vp-doc .striped-table tr:nth-child(2n) {
    background-color: var(--vp-c-bg-soft) !important;
}

.vp-doc td, th {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: fade;
}

.vp-doc thead th {
    white-space: nowrap;
}

/*原生markdown表格上下间距*/
.vp-doc .custom-table {
    margin: 20px 0;
}

/*表格中示例样式*/
.vp-doc .custom-table th .custom-example, .vp-doc .custom-table td .custom-example {
    color: var(--vp-c-success-3);
}

/*表格中注意样式*/
.vp-doc .custom-table th .custom-note, .vp-doc .custom-table td .custom-note {
    color: var(--vp-c-danger-1);
}

/*表格中枚举类型样式*/
.vp-doc .custom-table th .reference-text, .vp-doc .custom-table td .reference-text {
    cursor: pointer;
    padding: 1px;
    color: var(--vp-c-success-1);
    border-bottom: 2px solid var(--vp-c-success-2);

}

/*表格中枚举类型悬浮样式*/
.vp-doc .custom-table th .reference-text, .vp-doc .custom-table td .reference-text:hover {
    color: var(--vp-c-success-3);
    border-bottom: 2px solid var(--vp-c-success-3);
}